.question-container {
  display: flex;
  align-items: center;
  height: 800px;

}

.score-tag {
  font-size: 30px;
}

.list-group-item {
  color: #1a033d !important; 
  cursor: pointer;
}

.list-group-item:hover {
  background-color: lightgray;
}

.list-group {
  border-radius: 12px;
}