.main {
	
		background-color: #fafafa;
	
}

.mainpage-quiz-intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainpage-quiz-intro {
	height: 100px;
	color: rgb(0, 0, 0);
}


.qz-btn {
	margin-right: 25px;
	margin-left: 25px;
}

.quiz-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-heading-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
}

.view-score-link,
.logout-link {
	text-decoration: none;
	color: rgb(32, 25, 25);
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	padding: 10px;
	border: none;
}


.view-score-link:hover,
.logout-link:hover {
	text-decoration: none;
	color:  rgb(32, 25, 25);
}