.main {
	background-color: #f8f5fc
}

.mainpage-quiz-intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainpage-quiz-intro {
	height: 100px;
	color: beige;
}

.quiz-btn {
	color: black;
	font-family: 'Source Code Pro', monospace;
	width: max-content;
	margin-left: 50px;
	border-radius: 12px;
	padding: 10px;
}

.quiz-btn:hover {
	background-color: rgb(243, 145, 194);
	margin-right: 2px;
	margin-top: 1px;
}

.quiz-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main-heading-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
}

.view-score-link,
.logout-link {
	text-decoration: none;
	color: honeydew;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	padding: 10px;
}

.view-score-link:hover {
	text-decoration: none;
	color: #e47676;
}
